PUBLIC_WEDDING_DATE=Saturday, October 10th, 2026
PUBLIC_WEDDING_DATETIME=2026-10-10T16:00:00-04:00
PUBLIC_VENUE_NAME=Venue Name
PUBLIC_VENUE_LOCATION=City, State
PUBLIC_VENUE_ADDRESS=123 Main St, City, State 00000
PUBLIC_CEREMONY_TIME=4:00 PM
